/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oswald:wght@200..700&display=swap');


/*Main*/
main{
    background-color: rgb(255, 255, 255);
}

.img1{
    background: url("/assets/image/1_kfoZJqoU5IDWz-u7ZclDtQ.jpg") no-repeat center center/cover;
    min-height: 500px;
    width: 100%;
    position: relative;
    margin-bottom: 60px;
    background-attachment: fixed;
}

img.card-img-top{
    min-height: 356px;
}
h3.card-title{
    text-align: center;
    
    
}

a.btn-outline-secondary{
    text-align: center;
}
p.card-text{
    text-align: center;
    width: 500px;
}


/*Main End*/

/*Mobile small tablets*/
@media screen and (max-width:762px) {
    
    
    #clms{
        text-align: center;
       
        margin-right: 10px;
    }

    #imgbook{
        width: 100%;
    }

    .img1{
        width: 100%;
    }

    #title,#bars{
        display: flex;

    }

    div .card-body{
        padding-left: 90px;
        width: 100px;
    }
    
    form{
        padding: 0;
        
    }

    div.card-body{
        padding: 5px;
    }

    #inputEmail4,
    #inputPassword4,
    #inputselect,
    #travel-date,
    #classform{
        display: flex;
        align-content: center;
    }
    
}

/*Tablets small laptops*/
@media screen and (max-width:1120px) 
{
    

    #inputEmail4,
    #inputPassword4,
    #inputselect,
    #travel-date,
    #classform{
        width: 300px;
    }

    #imgbook{
        width: 100%;
    }

    div .card-body{
        width: 200px;
    }

    div .card-width{
        width: 16rem;
    }

    h3.card-title{
        text-align: start;
        
        
    }
    
    a.btn-outline-secondary{
        text-align: start;
    }
    p.card-text{
        text-align: start;
        width: 300px;
    }
    
}